<a href="https://colab.research.google.com/github/jcastiblanco/-Fundamentos-de-IA-y-Machine-Learning/blob/main/Week2_Pandas_World_Cup_Analysis_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://marketing4ecommerce.net/wp-content/uploads/2015/09/logo-iebs.jpg" style="float:right" width="400">

# Introducción a los lenguajes de programación

## Actividad Semanal de la clase 2

### Javier Cózar

## ***Ejercicio Julián Castiblanco 2022-12-06***

# Dataset


En esta libreta vamos a trabajar con un conjunto de datos que contiene los datos de la FIFA de la copa del mundo. Disponéis de los archivos ya descargados en la sección de recursos. Utilizaremos estos tres ficheros:

- WorldCupMatches.csv: Datos de los partidos disputados
- WorldCupPlayers.csv: Datos de los jugadores que han jugado en cada partido
- WorldCups.csv: Datos de las copas disputadas y los resultados

# Introducción

Mediante esta libreta vamos a explorar los datos almacenados en estos tres ficheros y a responder preguntas haciendo operaciones y transformaciones con pandas. Además de completar las celdas de código para responder a los ejercicios, cuando así se indique se deberá añadir una celda de tipo _markdown_ explicando con texto enriquecido la información o las conclusiones extraídas.

In [3]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [62]:
# Cargamos el conjunto de datos WorldCupMatches
df_partidos = pd.read_csv("/content/drive/MyDrive/maestria2023/modulo1/introprogramacion/Week2/Recursossprint2/WorldCupMatches.csv")

## 1. Exploración

Usar las funciones `head`, `info` y `describe` para explorar el dataframe `df_partidos`. **Crear una celda de tipo markdown** y comentar brevemente la información almacenada en cada dataframe (columnas y tipo de datos).

_No es necesario hacer una documentación exhaustiva, tan solo comentar aspectos principales como qué tipo de información almacena el DataFrame, cuántas filas y columnas tiene, y comentar las columnas que se consideren más relevantes._

In [14]:
## Tamaño del conjunto de datos
df_partidos.shape

(4572, 20)

In [7]:
## Primeras columnas
df_partidos.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

In [15]:
## filas del final del archivo
df_partidos.tail(10)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
##tipos de datos
df_partidos.dtypes

Year                    float64
Datetime                 object
Stage                    object
Stadium                  object
City                     object
Home Team Name           object
Home Team Goals         float64
Away Team Goals         float64
Away Team Name           object
Win conditions           object
Attendance              float64
Half-time Home Goals    float64
Half-time Away Goals    float64
Referee                  object
Assistant 1              object
Assistant 2              object
RoundID                 float64
MatchID                 float64
Home Team Initials       object
Away Team Initials       object
dtype: object

In [17]:
##descripción de las columnas
df_partidos.describe(include='all')

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
count,852.000000,852,852,852,852,852,852.000000,852.000000,852,852,850.000000,852.000000,852.000000,852,852,852,8.520000e+02,8.520000e+02,852,852
unique,NaN,602,23,181,151,78,NaN,NaN,83,43,NaN,NaN,NaN,366,387,408,NaN,NaN,77,82
top,NaN,27 May 1934 - 16:30,Round of 16,Estadio Azteca,Mexico City,Brazil,NaN,NaN,Mexico,,NaN,NaN,NaN,Ravshan IRMATOV (UZB),ACHIK Redouane (MAR),KOCHKAROV Bakhadyr (KGZ),NaN,NaN,BRA,MEX
freq,NaN,8,72,19,23,82,NaN,NaN,38,787,NaN,NaN,NaN,10,7,10,NaN,NaN,82,38
mean,1985.089202,NaN,NaN,NaN,NaN,NaN,1.811033,1.022300,NaN,NaN,45164.800000,0.708920,0.428404,NaN,NaN,NaN,1.066177e+07,6.134687e+07,NaN,NaN
std,22.448825,NaN,NaN,NaN,NaN,NaN,1.610255,1.087573,NaN,NaN,23485.249247,0.937414,0.691252,NaN,NaN,NaN,2.729613e+07,1.110572e+08,NaN,NaN
min,1930.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,2000.000000,0.000000,0.000000,NaN,NaN,NaN,2.010000e+02,2.500000e+01,NaN,NaN
25%,1970.000000,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,30000.000000,0.000000,0.000000,NaN,NaN,NaN,2.620000e+02,1.188750e+03,NaN,NaN
50%,1990.000000,NaN,NaN,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,41579.500000,0.000000,0.000000,NaN,NaN,NaN,3.370000e+02,2.191000e+03,NaN,NaN
75%,2002.000000,NaN,NaN,NaN,NaN,NaN,3.000000,2.000000,NaN,NaN,61374.500000,1.000000,1.000000,NaN,NaN,NaN,2.497220e+05,4.395006e+07,NaN,NaN
max,2014.000000,NaN,NaN,NaN,NaN,NaN,10.000000,7.000000,NaN,NaN,173850.000000,6.000000,5.000000,NaN,NaN,NaN,9.741060e+07,3.001865e+08,NaN,NaN

In [9]:
## Información de tipos de datos
df_partidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    float64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    float64
 7   Away Team Goals       852 non-null    float64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    float64
 12  Half-time Away Goals  852 non-null    float64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    float64
 17  MatchID               852 non-null    float64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

![julydevlogo.png]() 

**Informe de Calidad de Datos**

# **Revisión de dataset WorldCupMatches**

## Función Shape
Permite conocer el tamaño del conjunto de datos. Ahora sabemos que nuestro dataset es de (4572, 20).  4572 muestras o filas, por 20 columnas o variables.

## Función Head y Tail
Con esta función podemos analizar las primeras columnas del archivo, podemos ver la información que viene incluída en el conjunto de datos.  Para nuestro caso vemos que tiene 20 columnas en las cuales se encuentra infromación de cada uno de los partidos disputados en los mundiales de fútbol.
Información relevante como los paises que jugaron  el partido, resultado parcial resultado final, ronda, jueces, cantidad de expectadores, año del juego, ciudad y estadio hacen parte de la información contenida.

Por su parte la función tail, nos permite extraer un número determinado de filas del final del conjunto de datos. La función ***TAIL*** nos revela que existen muchas filas vacías al final del conjunto de datos que deberían ser filtradas.

## Función dtypes
Esta función nos permite validar rápidamente los tipos de datos de cada columna o variable de nuestro conjunto de datos. Como puede verse en el ejemplo nativamente no se distingue entre fechas y alfanuméricos como en otros lenguajes. En python por defecto los reconoce como columnas de tipo objeto.

## Función detail
Con esta función se obtiene información relevante de las columnas numéricas como por ejemplo la fecha máxima y mínima del conjunto de datos.  Ahora sabemos que está la información de los mundiales entre 1930 y 2014, que tiene 852 muestras o filas con datos válidos, que en promedio el equipo que juega de local anota 1.8 goles, mientras que el equipo visitante 1.02.


## Función info
La función info nos devuelve la información de los tipos de datos de las columnas así como el grado de completitud de la información.  En conjuntos de datos cuando las columnas tienen muchos valores nulos, seguramente no nos permitirán tener un conocimiento real de la información al interior de estas columnas.  Para este conjunto de datos, podemos notar que tan solo 852 registros de los 4672 tienen información con lo cuál las tareas de limpieza de datos serán necesarias.

## 2. Limpieza de datos

Una de las cosas que llama la atención es la alta presencia de valores perdidos en el DataFrame `df_partidos`. Cuando trabajamos con datos obtenidos del mundo real siempre nos toparemos con problemas relacionados con la medición, captura o almacenamiento de dicha información.

Localiza las filas con valores perdido. Analizar y **documentar en una nueva celda de tipo markdown** a qué se deben estos valores perdidos. Finalmente usar la función [dropna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html) sobre el DataFrame `df_partidos` para eliminar los valores perdidos del DataFrame, y almacena el resultado en `df_partidos` de nuevo.

In [30]:
# Localizar las filas nulas 
check_nan =df_partidos.isnull().all()

In [21]:
check_nan

0       False
1       False
2       False
3       False
4       False
        ...
4567     True
4568     True
4569     True
4570     True
4571     True
Name: Year, Length: 4572, dtype: bool

# Análisis de filas Nulas
La función isnull() nos permite validar si existe información nula o nan en una columna en particular.  Pero en este caso y después de validar el dataset con la función tail(); se estableció que un registro se puede determinar inválido si todas sus columnas son nulas. Para hacer esta búsqueda agregamos el método all() al final de la función isnull() con lo cuál se creará una nueva columna boleena que nos indicará cuales son las filas que se encuentran nulas.

In [73]:
# elimina filas nulas en el conjunto de datos
df_partidos=df_partidos.dropna(how='all')

La funcioón dropna nos permite eliminar los registros nulos de un conjunto de datos, el parámetro **"how"** permite definir la regla de eliminación de las filas.  ***All*** eliminará la fila si todas las columnas son nulas, y ***any*** lo realizará si alguna columna en la fila es nula. Ahora que hemos eliminado los registros nulos con la función df_partidos.dropna(how='all').

In [68]:
check_nan =df_partidos.isnull().all()

Validamos nuevamente y ahroa no tenemos filas errróneas en nuestro conjunto datos.

## 3. Cargar datos

Al igual que hemos cargado los datos de los partidos en `df_partidos`, crear las variables `df_jugadores` y `df_copas` que contengan los dataframes correspondientes a la lectura de los csv `WorldCupPlayers` y `WorldCups` (usar `pd.read_csv)`.

In [69]:
# Cargamos el conjunto de datos jugadores
df_jugadores  = pd.read_csv("/content/drive/MyDrive/maestria2023/modulo1/introprogramacion/Week2/Recursossprint2/WorldCupPlayers.csv")

In [70]:
# Cargamos el conjunto de datos copas
df_copas = pd.read_csv("/content/drive/MyDrive/maestria2023/modulo1/introprogramacion/Week2/Recursossprint2/WorldCups.csv")

## 4. Rango temporal

El dataframe `df_copas` contiene datos de todos los mundiales disputados. ¿Cuál es el año del mundial más antiguo disputado? ¿Y el año del mundial más reciente?

**Pista:** recuerda que podemos usar funciones de agregación (`count` para contar el número de casos, `mean` para calcular el valor medio, etc.) directamente sobre columnas o Series de pandas. Por ejemplo, el siguiente código nos muestra el mayor número de goles marcado en un mundial.

```python
df_copas["GoalsScored"].max()
```

**Opcional:** Una vez localizados los años de interés (más antiguo y más reciente) visualizar las filas completas correspondientes a cada año usando la función `.loc`.

In [42]:
# ¿Cuál es el año del mundial más antiguo dispoutado?
df_copas["Year"].min()

1930

In [44]:
# ¿Y el año del mundial más reciente?
df_copas["Year"].max()

2014

In [71]:
# Filtrar un conjunto de datos a partir de subconsulta del año máximo de los mundiales
df_partidos.loc[df_partidos.Year==(df_copas["Year"].max())]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
772,2014.0,12 Jun 2014 - 17:00,Group A,Arena de Sao Paulo,Sao Paulo,Brazil,3.0,1.0,Croatia,,62103.0,1.0,1.0,NISHIMURA Yuichi (JPN),SAGARA Toru (JPN),NAGI Toshiyuki (JPN),255931.0,300186456.0,BRA,CRO
773,2014.0,13 Jun 2014 - 13:00,Group A,Estadio das Dunas,Natal,Mexico,1.0,0.0,Cameroon,,39216.0,0.0,0.0,ROLDAN Wilmar (COL),CLAVIJO Humberto (COL),DIAZ Eduardo (COL),255931.0,300186492.0,MEX,CMR
774,2014.0,13 Jun 2014 - 16:00,Group B,Arena Fonte Nova,Salvador,Spain,1.0,5.0,Netherlands,,48173.0,1.0,1.0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255931.0,300186510.0,ESP,NED
775,2014.0,13 Jun 2014 - 18:00,Group B,Arena Pantanal,Cuiaba,Chile,3.0,1.0,Australia,,40275.0,2.0,1.0,Noumandiez DOUE (CIV),YEO Songuifolo (CIV),BIRUMUSHAHU Jean Claude (BDI),255931.0,300186473.0,CHI,AUS
776,2014.0,14 Jun 2014 - 13:00,Group C,Estadio Mineirao,Belo Horizonte,Colombia,3.0,0.0,Greece,,57174.0,1.0,0.0,GEIGER Mark (USA),HURD Sean (USA),FLETCHER Joe (CAN),255931.0,300186471.0,COL,GRE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847,2014.0,05 Jul 2014 - 17:00,Quarter-finals,Arena Fonte Nova,Salvador,Netherlands,0.0,0.0,Costa Rica,Netherlands win on penalties (4 - 3),51179.0,0.0,0.0,Ravshan IRMATOV (UZB),RASULOV Abduxamidullo (UZB),KOCHKAROV Bakhadyr (KGZ),255953.0,300186488.0,NED,CRC
848,2014.0,08 Jul 2014 - 17:00,Semi-finals,Estadio Mineirao,Belo Horizonte,Brazil,1.0,7.0,Germany,,58141.0,0.0,5.0,RODRIGUEZ Marco (MEX),TORRENTERA Marvin (MEX),QUINTERO Marcos (MEX),255955.0,300186474.0,BRA,GER
849,2014.0,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0.0,0.0,Argentina,Argentina win on penalties (2 - 4),63267.0,0.0,0.0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955.0,300186490.0,NED,ARG
850,2014.0,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0.0,3.0,Netherlands,,68034.0,0.0,2.0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957.0,300186502.0,BRA,NED
851,2014.0,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1.0,0.0,Argentina,Germany win after extra time,74738.0,0.0,0.0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959.0,300186501.0,GER,ARG

In [80]:
#Ejemplo filtro por campo de texto
df_partidos[df_partidos["City"].str.contains("Montevideo")]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX
6,1930.0,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4.0,0.0,Bolivia,,18306.0,0.0,0.0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201.0,1092.0,YUG,BOL
7,1930.0,17 Jul 1930 - 14:45,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Paraguay,,18306.0,2.0,0.0,MACIAS Jose (ARG),APHESTEGUY Martin (URU),TEJADA Anibal (URU),201.0,1097.0,USA,PAR
8,1930.0,18 Jul 1930 - 14:30,Group 3,Estadio Centenario,Montevideo,Uruguay,1.0,0.0,Peru,,57735.0,0.0,0.0,LANGENUS Jean (BEL),BALWAY Thomas (FRA),CRISTOPHE Henry (BEL),201.0,1099.0,URU,PER
9,1930.0,19 Jul 1930 - 12:50,Group 1,Estadio Centenario,Montevideo,Chile,1.0,0.0,France,,2000.0,0.0,0.0,TEJADA Anibal (URU),LOMBARDI Domingo (URU),REGO Gilberto (BRA),201.0,1094.0,CHI,FRA
10,1930.0,19 Jul 1930 - 15:00,Group 1,Estadio Centenario,Montevideo,Argentina,6.0,3.0,Mexico,,42100.0,3.0,1.0,SAUCEDO Ulises (BOL),ALONSO Gualberto (URU),RADULESCU Constantin (ROU),201.0,1086.0,ARG,MEX
11,1930.0,20 Jul 1930 - 13:00,Group 2,Estadio Centenario,Montevideo,Brazil,4.0,0.0,Bolivia,,25466.0,1.0,0.0,BALWAY Thomas (FRA),MATEUCCI Francisco (URU),VALLEJO Gaspar (MEX),201.0,1091.0,BRA,BOL
12,1930.0,20 Jul 1930 - 15:00,Group 4,Estadio Centenario,Montevideo,Paraguay,1.0,0.0,Belgium,,12000.0,1.0,0.0,VALLARINO Ricardo (URU),MACIAS Jose (ARG),LOMBARDI Domingo (URU),201.0,1089.0,PAR,BEL
13,1930.0,21 Jul 1930 - 14:50,Group 3,Estadio Centenario,Montevideo,Uruguay,4.0,0.0,Romania,,70022.0,4.0,0.0,REGO Gilberto (BRA),WARNKEN Alberto (CHI),SAUCEDO Ulises (BOL),201.0,1100.0,URU,ROU
14,1930.0,22 Jul 1930 - 14:45,Group 1,Estadio Centenario,Montevideo,Argentina,3.0,1.0,Chile,,41459.0,2.0,1.0,LANGENUS Jean (BEL),CRISTOPHE Henry (BEL),SAUCEDO Ulises (BOL),201.0,1084.0,ARG,CHI
15,1930.0,26 Jul 1930 - 14:45,Semi-finals,Estadio Centenario,Montevideo,Argentina,6.0,1.0,USA,,72886.0,1.0,0.0,LANGENUS Jean (BEL),VALLEJO Gaspar (MEX),WARNKEN Alberto (CHI),202.0,1088.0,ARG,USA
16,1930.0,27 Jul 1930 - 14:45,Semi-finals,Estadio Centenario,Montevideo,Uruguay,6.0,1.0,Yugoslavia,,79867.0,3.0,1.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),BALWAY Thomas (FRA),202.0,1101.0,URU,YUG
17,1930.0,30 Jul 1930 - 14:15,Final,Estadio Centenario,Montevideo,Uruguay,4.0,2.0,Argentina,,68346.0,1.0,2.0,LANGENUS Jean (BEL),SAUCEDO Ulises (BOL),CRISTOPHE Henry (BEL),405.0,1087.0,URU,ARG

In [96]:
# Extrae el año mínimo de un mundial
display(df_copas["Year"].min())

1930

# Renombre de columnas
Una de las tareas más comunes en el análisis de datos es realizar un renombrado de las columnas en el dataset. Para ello podemos utilizar la función replace y la propiedad columns de nuestro dataframe.  con el comando for recorreremos todas las columnas. Aquí estamos reemplazando los espacios en blanco por "_"

In [106]:
df_partidos.columns = [c.replace(' ', '_') for c in df_partidos.columns]

# **iloc y loc**
Las funciones iloc y loc nos permiten filtrar la información de un conjunto de datos, por ejemplo en el caso anterior, con la función max() recibíamos un valor escalar correspondiente al máximo año de copa mundo en el conjunto de datos y esta entrada la utilizamos como fuente para filtrar los partidos que se jugaron en dicha copa. ***Loc*** nos permite filtrar por un campo en particular, mientras que ***iloc***, nos permite filtrar por el indexador del conjunto de datos.

# **Filtros por campos de texto**
En los conjuntos de datos que tienen cadenas de textos debemos tener algo de cuidado, porque primero debemos covertir el tipo de datos de la columna a texto y luego si proceder a usar las funciones de comparación de texto como contains para asegurarnos que el valor que estamos buscando se encuentre. 

# **Filtros compuestos**
Existe también la posibilidad de hacer filtros compuestos lo cual permite avanzar en los análisis de nuestros conjuntos de datos, el siguiente ejemplo nos permite conocer que partidos se jugaron en montevideo en el mundial de 1930 y donde uno de los equipos fue Uruguay.

In [110]:
#Ejemplo filtros compuestos
df_partidos.loc[(df_partidos["City"].str.contains("Montevideo")) 
                &  (df_partidos["Year"]==(df_copas["Year"].min())) 
                &  ((df_partidos['Home_Team_Name'].str.contains("Uruguay")) | (df_partidos['Away_Team_Name'].str.contains("Uruguay")))]

,Year,Datetime,Stage,Stadium,City,Home_Team_Name,Home_Team_Goals,Away_Team_Goals,Away_Team_Name,Win_conditions,Attendance,Half-time_Home_Goals,Half-time_Away_Goals,Referee,Assistant_1,Assistant_2,RoundID,MatchID,Home_Team_Initials,Away_Team_Initials
8,1930.0,18 Jul 1930 - 14:30,Group 3,Estadio Centenario,Montevideo,Uruguay,1.0,0.0,Peru,,57735.0,0.0,0.0,LANGENUS Jean (BEL),BALWAY Thomas (FRA),CRISTOPHE Henry (BEL),201.0,1099.0,URU,PER
13,1930.0,21 Jul 1930 - 14:50,Group 3,Estadio Centenario,Montevideo,Uruguay,4.0,0.0,Romania,,70022.0,4.0,0.0,REGO Gilberto (BRA),WARNKEN Alberto (CHI),SAUCEDO Ulises (BOL),201.0,1100.0,URU,ROU
16,1930.0,27 Jul 1930 - 14:45,Semi-finals,Estadio Centenario,Montevideo,Uruguay,6.0,1.0,Yugoslavia,,79867.0,3.0,1.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),BALWAY Thomas (FRA),202.0,1101.0,URU,YUG
17,1930.0,30 Jul 1930 - 14:15,Final,Estadio Centenario,Montevideo,Uruguay,4.0,2.0,Argentina,,68346.0,1.0,2.0,LANGENUS Jean (BEL),SAUCEDO Ulises (BOL),CRISTOPHE Henry (BEL),405.0,1087.0,URU,ARG